*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}

.main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}
.main::before,
.main::after{
    content: "";
    background-image: url('assets/img/Group\ 49.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: inline-block;
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.main::after{
    content: "";
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;

    }
    .main::after,
    .main::before{
        width: 70vw;
    }

}